$header-color: #66bfbf;
$header-percentage-off-center: 30%;

body {
  text-align: center;
  font-family: "Merriweather", serif;
  margin: 0;
}

h1 {
  color: $header-color;
  font-family: "Sacramento", cursive;
  font-size: 5em;
  margin-bottom: 0;
}

h2 {
  color: $header-color;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

h3 {
  color: $header-color;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}

header {
  padding-top: 20px;
  background-color: #e4f9f5;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  .right {
    position: relative;
    left: $header-percentage-off-center;
  }

  .left {
    position: relative;
    right: $header-percentage-off-center;
  }
}

main {
  padding: 80px 25%;
  line-height: 2;

  .profile-pic {
    display: block;
    max-width: 100%;
    border-radius: 200px;
    margin: auto;
  }

  p,
  h2 {
    margin: 50px auto;
  }

  hr {
    width: 10%;
    border: dotted #eaf6f6 4px;
    border-bottom: none;
  }

  a {
    text-decoration: none;
    color: #0088cc;
    font-weight: bolder;

    &:hover {
      color: #016292;
    }
  }

  section {
    text-align: left;
    overflow: auto;
    margin: 80px auto;

    img {
      border-radius: 200px;
      max-width: 230px;
    }

    .left {
      float: left;
      margin-right: 20px;
    }

    .right {
      float: right;
      border: solid grey 1px;
      margin-left: 20px;
    }

    p {
      display: inline;
    }
  }

  a.contact {
    text-decoration: none;
    color: white;
    padding: 15px;
    background-image: linear-gradient(#11cdd4, #11999e);
    border-radius: 15px;

    &:hover {
      background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    }
  }
}

footer {
  background-color: #66bfbf;
  padding: 30px;

  section {
    margin: 30px;
  }

  a {
    text-decoration: none;
    color: #11999e;
    margin: 0 20px;

    &:hover {
      color: white;
    }
  }

  .copyright {
    color: white;
  }
}
